<h2>Journal Entry</h2>
<p>
  {{#if canEdit}}
    <a href="/journaledit/{{id}}">Edit  </a>
  {{/if}}
  {{date}}<br/>
  {{{text}}}<br/>
  {{#if urllist}}
    <hr>
    {{#each urllist}}
      <a href="{{this}}">{{this}}</a><br/>
    {{/each}}
  {{/if}}
  {{#if bodylist}}
    <hr>
    {{{bodylist}}}<br/>
  {{/if}}
</p>