<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css"/>
<script type="text/javascript" src="/js/vis.js"></script>
<script>
    var which = 'main';
    function doMain() {
        $('#graphview').hide();
        $('#mainview').show();
        if (which === 'graph') {
            document.getElementById('mgb').classList.remove('btn-secondary');
            document.getElementById('mvb').classList.add('btn-primary');
        }
    };
    function doGraph() {
        $('#graphview').show();
        $('#mainview').hide();
        if (which === 'graph') {
            document.getElementById('mvb').classList.remove('btn-secondary');
            document.getElementById('mgb').classList.add('btn-primary');
        }
    };

    window.onload = function() {
        $('#graphview').hide();
        $('#mainview').show();
        var container = document.getElementById('mynetwork');
        var options = {};
        var data = {{{graph}}};
        //alert('GGG', data);
        var timeline = new vis.Network(container, data, options);
    };
</script>
<style>
  #mypara {
    width: 800px; border-style: solid; border: 1px solid green;
  }
  #mypara:hover {
    background-color: rgba(255, 255, 0, 0.801);
  }
    #mynetwork { 
        display:block;
        width:inherit;
        height:800px;
        border:solid;
        background-color:white;
    }
</style>

{{#if source}}
    <h2>Relation: {{label}}</h2>
{{else}}
    <h2>Topic: {{label}}</h2>
{{/if}}
<button type="button" id="mvb" class="btn btn-primary" onclick="doMain()">Main View<button>
<button type="button" id="gvb" class="btn btn-secondary" onclick="doGraph()">Graph View</button>

<div id="mainview">
    {{#if isAuthenticated}}
        {{> air_form}}
        <hr>
    {{/if}}
    {{#if source}}
        <h3>Source Topic: {{{source}}}</h3>
        <h3>Target Topic: {{{target}}}</h3>
    {{/if}}
    {{#if bodylist}}
        <hr>
        <h3>Body</h3>
        <div style="overflow-y: auto; height:200px;">
        {{#each bodylist}}
            <div id="mypara">
                {{{this}}}
            </div><br/>
            {{/each}}
        </div>
    {{/if}}
    {{#if urllist}}
    <h3>Resources</h3>
        {{#each urllist}}
            <a href="{{this}}">{{this}}</a><br/>
        {{/each}}
    {{/if}}
    <h3>Backlinks</h3>
    <div style="overflow-y: auto; height:400px;">
        {{#each backlinks}}
            <div id="mypara">
                {{{this}}}
            </div><br/>
        {{/each}}
    </div>
    <div style="display: none;">{{jsonSource}}</div>
</div>
<div id="graphview">
 
    <div id="mynetwork">Network Graph</div>
</div>